<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Online Auction</title>
    <style>
        .container{
            display: flex;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Online Auction Users</h1>
        <a href="/add-user">
            <button type="button" class="btn btn-primary">Add User</button>
        </a>
        <a href="/users">
            <button type="button" class="btn btn-success">Get Users</button>
        </a>
        <a href="/find-user">
            <button type="button" class="btn btn-warning">Find User</button>
        </a>
        <a href="/remove-user">
            <button type="button" class="btn btn-danger">Remove User</button>
        </a>



    </div>
</body>
</html>